.icon-application_home {
    background-image: url(#{resource[ 'images/silk:application_home.png' ]}) !important;
}

.icon-date {
    background-image: url(#{resource[ 'images/silk:date.png' ]}) !important;
}

.icon-map {
    background-image: url(#{resource[ 'images/silk:map.png' ]}) !important;
}

.icon-user_green {
    background-image: url(#{resource[ 'images/silk:user_green.png' ]}) !important;
}
